{% extends 'base.html' %}

{% block content %}
<h1>Ability Score Rolls</h1>

<div class="ability-scores-results">
    <p>Roll these scores and assign them to your character's abilities:</p>

    <ul>
        {% for score in scores %}
        <li>
            <strong>Roll {{ forloop.counter }}:</strong>
            {{ score.rolls|join:" + " }} = {{ score.total }}
        </li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'game:character_management:roll_ability_scores' %}" class="button">Roll Again</a>
<a href="{% url 'game:character_management:character_create' %}" class="button">Create Character</a>
{% endblock %}