{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;700&display=swap">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        {{ block.super }}
    {% endblock %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'game:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
</head>
    
<body>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'game:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}

    {% block navbar %}
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/species">Species</a></li>
                    <li><a href="{% url 'game:campaign_manager:campaigns_overview' %}">Campaigns</a></li>
                    <li><a href="{% url 'game:character_management:character_list' %}">Characters</a></li>
                    <li><a href="/dice-goblins">Dice-Goblins</a></li>
                </ul>
            </nav>
            <div class="search-account">
                <input type="text" placeholder="Search...">
                <a href="/account" class="account-icon">🔰</a>
            </div>
        </header>

    {% endblock %}

    {% block content %}{% endblock %}
</body>
</html>

