{% extends 'base.html' %}

{% block title %}Create / Edit Campaign{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% if campaign %}Edit Campaign{% else %}Create New Campaign{% endif %}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success">
                {% if campaign %}Update Campaign{% else %}Create Campaign{% endif %}
            </button>
        </form>

        <hr>

        <a href="{% url 'campaign_manager:campaign_list' %}" class="btn btn-secondary">Back to Campaign List</a>
    </div>
{% endblock %}
