{% extends "game/base.html" %}
{% load custom_tags %}

{% block title %}Register{% endblock %}

{% block style %}
    {{ block.super }}
    .centered-element {
        text-align: center;
        padding: 5px;
    }
{% endblock%}

{% block content %}
<div class="container">
    <h2>Register</h2>
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            <div class="centered-element">
                {{ field }}
            </div>           
        </div>
        {% comment %} {{ field|debug_print }} {% endcomment %}
    {% endfor %}
    <button type="submit">Register</button>
    {% comment %} <a href="{% url 'login' %}" class="btn btn-secondary">Return to Login</a> {% endcomment %}

  
</div>
{% endblock %}