{% extends "game/base.html" %}
{% load custom_tags %}

{% block title %}Register{% endblock %}

{% block style %}
    {{ block.super }}
    <style>    
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
   
        .centered-wrapper {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8px 20px;
        }

        label{            
            margin-bottom: 3px;
        }
        .errors ul {
            margin: 0 !important; 
            padding: 0 !important; /* Space between error messages */
        }

        .error-message {
            color: red;
            margin-top: 3px;
            margin-bottom: 8px;
        }
      
    </style>
{% endblock %}

{% block content %}
<div class="register-container">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h2 class="register-header">Register</h2>
    </div>

    <form class="register-form" method="post">
        {% csrf_token %}
        <div class="centered-wrapper">
            {% if form.non_field_errors and form_submitted %}
                <div class="error-message">{{ form.non_field_errors }}</div>
            {% endif %}
            <div>
                {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if form_submitted and field.errors %}
                        {% for error in field.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="button-container" style="display: flex; justify-content: space-between; margin-top: 30px; padding: 0 20px;">
            <a href="{% url 'game:login' %}" class="back-button" style="background-color: #f0f0f0; color: #333; border: none; border-radius: 4px; padding: 10px 15px; text-decoration: none; transition: background-color 0.3s;">← Back</a>
            <button type="submit" class="register-button" style="background-color: #4CAF50; color: white; border: none; border-radius: 4px; padding: 10px 20px; cursor: pointer; font-weight: bold; transition: background-color 0.3s;">Register</button>
            <div style="width: 100px;"></div>
        </div>
    </form>    
</div>
{% endblock %}