{% extends "game/base.html" %}
{% load custom_tags %}

{% block title %}Register{% endblock %}

{% block style %}
    {{ block.super }}
    <style>    
        .centered-wrapper {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8px 20px;
        }

        label{            
            margin-bottom: 3px;
        }
        .errors ul {
            margin: 0 !important; 
            padding: 0 !important; /* Space between error messages */
        }

      
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h2>Register</h2>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="centered-wrapper">
            {% if form.non_field_errors and form_submitted %}
                {{ form.non_field_errors }}
            {% endif %}
            <div>
                {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div style="color:red;">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center; height: 50px; margin-top: 20pt;">
            <button type="button" onclick="window.location.href='{% url 'game:login' %}'" style="width: 50px;  text-align: left;">←</button>
            <button type="submit" style="flex: 1; text-align: center; margin-left: auto; margin-right: auto;">Register</button>
        </div>
    </form>    
</div>
{% endblock %}